/* page title  */
h1{
  background: -webkit-linear-gradient(rgb(51, 255, 0),rgb(238, 91, 6));
  background-clip: inherit;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
 /* HEIGHT / WIDTH UTILS */
 .min-100-vh {
  min-height: 100vh;
}
.min-100-vw {
  min-width: 100vw;
}
.text-center {
  text-align: center;
}
.text-justify {
  text-align: justify;
}
p {
  font-size: 1.1rem;
  margin: 0 0;
  line-height: 1.5;
}

.text-white {
  color: #ffffff;
}

/* BACKGROUND UTILS */
.bg-primary {
  background-color: #2d3e50;
}


/* current time display */
#currentDay{
  font-weight: bolder;
  font-size: 25px;
  /* diagonal gradient for text: https://www.quirksmode.org/css/images/angles.html */
  background: linear-gradient(-225deg,red,yellow,green);
  background-clip: inherit;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  margin-bottom: 0px;
  }


/* Styling the Switch button */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  justify-content: center;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #111;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: rgb(29, 128, 210);
}

input:focus + .slider {
  box-shadow: 0 0 1px rgb(29, 128, 210);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.row {
  margin: 5px;
  display: flex;
  justify-content:center;
}
.col {
  margin: 20px;
}


  /* style for the zip code div that holds the input search box */
  .zipCode{
    background-color:rgb(250, 246, 246);
    font-size: 18px;
  }
  .city
  {
    cursor: pointer;
  }


 html {
    line-height: 1.15;
    /* 1 */
    -webkit-text-size-adjust: 100%;
    /* 2 */
  }
  
  body {
    margin: 0;
  }

  
 /* Remove the border on images inside links in IE 10. */

  img {
    border-style: none;
  }
  

  /**
   * Remove the default vertical scrollbar 
   */
  textarea {
    overflow: auto;
  }

 
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  .card {
    border: 1px solid #1a1a1a;
    margin-bottom: 1rem;
  }
  
  .card .card-header {
    padding: 1px;
    background-color: #2d3e50;
    color: #d9e9e8;
  }
  
  .card .card-body {
    padding: 0.375rem;
  }
  
  .card .card-footer {
    border-top: 1px solid #1a1a1a;
    padding: 0.375rem;
  }
  
  .card.card-rounded {
    border-radius: 0.3rem;
  }
  
  .card.card-rounded .card-header {
    border-radius: calc(0.18rem - 1px) calc(0.18rem - 1px) 0 0;
  }
  
  /* style for the 5 Day div's */
  div#fiveDay div
  {
    width: 125px;
    color: #fff;
    padding: 5px;
    border-radius: 3px;
  }
